<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	<hibernate-configuration>
    <session-factory>
    
    	<!--  mySQL Pre Test -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
               
        <property name="hibernate.connection.url">jdbc:mysql://localhost/gcbecarios</property>
        <property name="hibernate.connection.username">gcbecarios</property>
        <property name="hibernate.connection.password"></property>
        
        
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--  mySQL Produccion -->
        <!--  Todavía no disponible -->
        
        
        <!--  Configuración -->
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <!-- Hay que elegir si hibernate tiene que crear la base de datos cada ves  -->
        <property name="hbm2ddl.auto">create-drop</property> 
        
        <!--  Mappings -->
        <mapping class="modelo.entidades.usuario.Usuario"/>
                
        
    </session-factory>
        
</hibernate-configuration>
